* {
    margin: 0px;
    padding: 0px;
}
body{  
font-family: 'Roboto Slab', serif;
}
.navbar , .portfolio h4{
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-brand{
    font-weight: 900;
}
.head {
    background-color: #e4e4e4;
}
.half {
    width: 50%;
    padding: 10px 20px;
}
.nav-item a:hover, .active {
    font-weight:700 ;
    color: #1abb9c !important;
}

.hero {
    width: 100%;
    margin: auto;
    min-height: 400px;
    background-image: url("../images/hero_bg.png");
    position: relative;
    text-align: center;
}
.hero_con {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero_con h1 {
    color: #f3f3f3;
    font-family: 'Roboto Slab';
    font-weight: bold;
}
.hero_con h3 {
    color: #a8a8a8;
    font-weight: 700;
    margin: 20px 0px;

}
.hero_con button {
    text-transform: uppercase;
    margin: 20px 0px;
}
.row .card {
    text-align: center;
    margin: 40px 0px;
    border: 0px;
    font-family: "Roboto";
}
.card img {
    width: 100px;
    height: 100px;
    margin: auto;
}
 h5 {
    font-weight: 700;
    font-family: 'Roboto Slab';
}
.portfolio {
    margin-bottom: 20px;
}
.portfolio .card-body {
    padding: 20px 0px;
}
.speech {
    background-color: #efefef;
    
    padding: 30px 0px;
}
.speech_con {
    width: 70%;
    margin: auto;
    text-align: center;
}
.speech_con h1 {
    font-family: 'IM Fell DW Pica SC';
    font-size: 50px;
    font-weight: 700;
    color: #979494;
    padding: 0px;
}
.speech_con h4 {
    font-family: "Roboto Slab";
    color: #979494;
}
footer {
    padding: 30px 0px;
    text-align: justify;
    background-image: url("/images/Footer_bg.png");
    color: #aaaaaa;
}
footer img {
    float: left;
    padding: 5px 10px;
}
 footer .devider {
    min-height: 2px;
    background-color: #dcdcdc;
}
.copy_right {
    padding-top: 20px;
}
